@import "tailwindcss";

@layer base {
  html,
  body {
    @apply antialiased;
  }
  body {
    @apply bg-gray-50 text-gray-900 font-sans min-h-screen flex flex-col dark:bg-gray-950 dark:text-gray-50;
  }
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 5s linear infinite;
}
